*{
    z-index: 0;
}

.arrows > div   {
    position: absolute;
    z-index: -10;
}

.container  {
    width: 100% !important;
}

.headlbl    {
    text-transform: uppercase;
    font-size: 12px;
}

#gro1Lbl    {
    width: 105%;
}

#felArrows  {
    width: 420px;
    top: 184px;
    left: 236px;
    display: none;
}

#groArrows  {
    width: 421px;
    top: 278px;
    left: 235px;
    height: 218px;
    display: none;
}

#misArrows  {
    width: 420px;
    top: 413px;
    left: 235px;
    height: 218px;
    display: none;
}

#disArrows  {
    width: 486px;
    top: 187px;
    left: 171px;
    height: 218px;    
    display: none;
}

.slider-wrapper > label {
    display: inline-block;
    margin: 5px;
    margin-top: -10px;
}

.clicker    {
    opacity: 0;
    z-index: 20;
}

.clicker:hover {
    cursor: pointer;
}

#trdCol > div, #secCol > div   {
    opacity: 0;
}

/*
.fltright   {
    float: right;
}
*/

label   {
    font-weight: 400 !important;
    font-size: 11px;
/*    margin-bottom: 0 !important;*/
/*    letter-spacing: -1px;    */
}

.lbl    {
    font-size: 14px;
    margin-bottom: -7px;
    text-transform: uppercase;
}

.number {
    font-size: 2.65em;
    margin-left: -2px;
}

#text   {
    font-size: 18px;
    line-height: 21px;
    height: 50px;
}

.columns    {
    max-height: 450px;
}

i.active {
    color: #222;
}

.pt {
    color: lightgrey;
}

.intoLede   {
    line-height: 18px;
}

.buttonContent, .clicker  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clicker > i    {
    padding: 0px 2px;
}

.red {
    fill: #c1262d;
}

.orange {
    fill: #f7931e;
}

.yellow {
    fill: #ffd193;
}

.grayFill   {
    fill: gray;
    opacity: 0.2;
}

#introButton    {
    margin-top: 10px;
}

#intro, #intro > svg    {
    height: 140px;
    margin-left:  28.666667%;
}

.introTitle {
    text-align: center;
    margin-top: 15%;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.slider-wrapper    {
    margin: 0 auto;
    width: 320px;
}

label   {
    line-height: 18px;
}

#myRange    {
    width: 200px;
}

.count  {
    font-weight: 400;
}

div > h4    {
    text-align: center;
    font-weight: 400;
}

div > p {
    text-align: center;
}

.box    {
/*    border: 1px solid #999;*/
    height: 100px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    line-height: 1.5px;
    margin-bottom: 20px;
}

.box#exp, .box#susPro   {
    height: 16px;
}

.box.main   {
    height: 100px;
    overflow: visible;
}

.box.sub    {
    height: 100px; 
} 

#item   {
    width: 50px;
    height: 50px;
    background-color: black;
    position: relative;
}

.button-primary  {
    margin-top: 10px;
}

.box.fel    {
    height: 50px;
}

.box.gro    {
    height: 75px;
}

.box.mis    {
    height: 105px;
}

.box#revSur {
    height: 50px;
}

.box#susPro {
    height: 75px;
}

.box#noDis {
    height: 300px;
}

.box#expired {
    height: 25px;
}

.noSee  {
    display: none;
}

#totalCnt   {
    font-weight: bold;
    float: left;
    width: 40px;
}

.para   {
    text-align: left;
    line-height: 21px; 
    font-size: 18px;
    margin-top: 150px;
}

#showCount  {
    display: inline-block;
}

.controls   {
    margin: 0 auto;
}

/*Slides*/

p.fel   {
    color: red;
}

p.gro   {
    color: orangered;
}

p.mis   {
    color: orange;
}