.slider-wrapper > label {
    display: inline-block;
    margin: 5px;
    margin-top: -10px;
}

#graph  {
    display: none;
}

.slider-wrapper    {
    margin: 0 auto;
    width: 320px;
}

label   {
    line-height: 18px;
}

#myRange    {
    width: 200px;
}

.count  {
    font-weight: 400;
}

div > h4    {
    text-align: center;
    font-weight: 400;
}

div > p {
    text-align: center;
}

.box    {
/*    border: 1px solid #999;*/
    height: 100px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    line-height: 1.5px;
    margin-bottom: 20px;
}

.box.main   {
    height: 100px;
    overflow: visible;
}

.box.sub    {
    height: 100px; 
} 

#item   {
    width: 50px;
    height: 50px;
    background-color: black;
    position: relative;
}

.button-primary  {
    margin-top: 10px;
}

.box.fel    {
    height: 50px;
}

.box.gro    {
    height: 75px;
}

.box.mis    {
    height: 100px;
}

/*
.box#revSur {
    height: 80px;
}

.box#susPro {
    height: 25px;
}

.box#noDis {
    height: 300px;
}

.box#expired {
    height: 25px;
}
*/

.noSee  {
    display: none;
}

#totalCnt   {
    font-weight: bold;
    float: left;
    width: 40px;
}

.para   {
    text-align: left;
    line-height: 21px; 
    font-size: 18px;
    margin-top: 150px;
}

#showCount  {
    display: inline-block;
}

.controls   {
    margin: 0 auto;
}

/*Slides*/

p.fel   {
    color: red;
}

p.gro   {
    color: orangered;
}

p.mis   {
    color: orange;
}